---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getCollection("posts")
---

<BaseLayout pageTitle="Blog">
    <h1>Blog</h1>
    
    <table class="w-full">
        {allPosts.map((post) =>
            <tr>
                <td>
                    <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                </td>

                <td class="text-right">
                    {post.data.pubDate.toLocaleDateString("en-us", {year: "numeric", month: "2-digit", day: "2-digit"})}
                </td>
            </tr>
        )}
    </table>
</BaseLayout>
