---
import GeneralPageLayout from "../../layouts/GeneralPageLayout.astro";
import Prose from "../../components/Prose.astro";
import { getPostsInReverseChronologicalOrder } from "../../lib/utils";
import PostsTable from "../../components/PostsTable.astro";

const allPosts = await getPostsInReverseChronologicalOrder();
---
<GeneralPageLayout pageTitle="Blog" headingText="My blog">
    <Prose>
        <p>
            Welcome to my blog! You can subscribe <a href="/blog/rss.xml">via RSS</a>.
        </p>
    </Prose>


    <PostsTable posts={allPosts} />
</GeneralPageLayout>
