---
import GeneralPageLayout from "../../layouts/GeneralPageLayout.astro";
import Prose from "../../components/Prose.astro";
import SmallHeading from "../../components/SmallHeading.astro";
import { getPostsInReverseChronologicalOrder } from "../../lib/utils";

function truncateAtWord({str, numberOfChars}: {str?: string, numberOfChars: number}) {
	// Adapted from https://www.sitelint.com/blog/truncating-text-and-making-it-accessible
	if (!str) {
		return str;
	}

	const nextSpace = str.indexOf(" ", numberOfChars);

	if (nextSpace === -1) {
		return str;
	}

	// Tailwind's line-clamp applies a visual ellipsis,
	// but we apply it again here for screen reader users and
	// users whose browsers don't support it.
	return str.substring(0, nextSpace) + "…";
}

const allPosts = await getPostsInReverseChronologicalOrder();

const allPostsGrouped = Map.groupBy(
	allPosts,
	(post) => post.data.pubDate.toLocaleDateString("en-US", {month: "long", year: "numeric"})
)
---
<GeneralPageLayout pageTitle="Blog" headingText="My blog">
    <Prose>
        <p>
            Welcome to my blog! You can subscribe <a href="/blog/rss.xml">via RSS</a>.
        </p>
    </Prose>

    <div class="mt-8">
    {Array.from(allPostsGrouped, ([key, posts]) =>
   		<div class="mt-8">
 			<SmallHeading>
     			{key}
      		</SmallHeading>
        	<ol class="flex flex-col gap-4">
        	{posts.map((post) =>
         		<li class="mt-1">
         			<a href={`/blog/${post.id}`} class="underline">{post.data.title}</a>
            		<Prose class="mt-1 line-clamp-3">
              			<span class="sr-only">Preview: </span>
               			{/* Strip HTML tags: https://stackoverflow.com/a/5002161/14106506 */}
		           		{truncateAtWord({str: post.rendered?.html.replace(/<\/?[^>]+(>|$)/g, ""), numberOfChars: 300})}
		            </Prose>
           		</li>
           	)}
         	</ol>
  		</div>
    )}
    </div>

</GeneralPageLayout>
