---
import { getCollection } from "astro:content";
import ArticleLayout from "../../layouts/ArticleLayout.astro";
const allPosts = await getCollection("posts")
---
<ArticleLayout pageTitle="Blog" headingText="My blog">
    <table class="w-full">
        {allPosts.map((post) =>
            <tr>
                <td>
                    <a href={`/blog/${post.slug}`} class="underline">{post.data.title}</a>
                </td>

                <td class="text-right">
                    {post.data.pubDate.toLocaleDateString("en-us", {year: "numeric", month: "2-digit", day: "2-digit"})}
                </td>
            </tr>
        )}
    </table>
</ArticleLayout>
