/*
Reasonable defaults not covered by Tailwind
https://piccalil.li/blog/a-more-modern-css-reset/
*/
html {
    /* Always show a scrollbar to prevent content shift
    https://stackoverflow.com/a/7607206/ */
    overflow-y: scroll;
}

body {
    min-height: 100vh;
}
button, input, label {
    line-height: 1.1;
}
h1, h2, h3, h4 {
    text-wrap: balance;
}

body {
    margin: 0 auto;
    width: 100%;
}

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    src: url('/fonts/Bitter[wght].woff2') format('woff2');
}

@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/FiraGO-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'FiraGO';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/FiraGO-Italic.woff2') format('woff2');
}
@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/FiraGO-Bold') format('woff2');
}
