@import "tailwindcss";
@plugin '@tailwindcss/typography';

@font-face {
  font-family: "Bitter Pro";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/BitterPro-SemiBold.woff2") format("woff2");
}

html {
  /* Always show a scrollbar to prevent content shift
  https://stackoverflow.com/a/7607206/ */
  overflow-y: scroll;
}

body {
  min-height: 100vh;
}

@theme {
  --font-sans: "Inter", "Adwaita Sans", "BlinkMacSystemFont", "Helvetica Neue",
    "Helvetica", "Arial", "Roboto", "sans-serif";
  --font-heading: "Bitter Pro", "serif";
}

@utility prose {
  line-height: 1.5;
  max-width: none;

  code {
    background-color: theme("colors.neutral.100");
    border-radius: 3px;
    padding: 0.1rem;
    font-weight: 400;

    &::before,
    &::after {
      /* Remove backticks from inline code */
      content: "";
    }
  }

  blockquote {
    p:first-of-type {
      &::before,
      &::after {
        /* Remove quotes from blockquote
		https://github.com/tailwindlabs/tailwindcss-typography/issues/66#issuecomment-1754429609 */
        content: "";
      }
    }

    font-style: normal;
    color: theme("colors.neutral.500");
  }

  /* h1 styled in H1.astro */
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: theme("font-heading");
    font-weight: 600;
    color: theme("colors.neutral.700");
    text-wrap: balance;
  }

  .expressive-code {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
}

@utility prose-neutral {
  /* Tailwind gets applied before Expressive Code, so set bg to prevent a flash of dark background. */
  --tw-prose-pre-bg: theme("colors.neutral.100");
}
