---
import Image from "astro/components/Image.astro"
import GeneralPageLayout from "../layouts/GeneralPageLayout.astro"
import lantau from "../assets/lantau.png"
import Prose from "../components/Prose.astro"
---
<GeneralPageLayout pageTitle="404" headingText="404: Not found">
    <Prose>
        <p>
            That resource doesn't exist, or was moved somewhere else.
        </p>

        <a href="/">Go to homepage</a>
    
        <hr>

        <p>
            To compensate, please enjoy this exclusive picture of the view off of Lantau Island, Hong Kong.
        </p>
        <Image src={lantau} alt="A view of the ocean from the top of a mountain. Forested hills are in the foreground. Islands are in the background." />
    </Prose>
</GeneralPageLayout>