---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from 'astro:assets';
import me from "../assets/me.png";
import Article from "../components/Article.astro";
import Prose from "../components/Prose.astro";

const links = [
    {
        name: "GitHub",
        href: "https://github.com/seasonedfish"
    },
    {
        name: "LinkedIn",
        href: "https://www.linkedin.com/in/fisher-sun/"
    },
    {
        name: "Email",
        href: "mailto:f.sun@wustl.edu"
    }
]
---

<BaseLayout pageTitle="Home">
    <Article title="Hello and welcome!">
        <Prose>
            <div>
                <Image src={me} alt={"The author"} width={150} densities={[1, 1.5]} class="float-start me-8 mb-8 mt-0"}></Image>
                <p>
                    I'm Fisher. I'm a CS student that loves learning about all things software and software engineering.
                </p>
    
                <ul class="flex flex-wrap gap-4 list-none p-0">
                    {
                        links.map((link, i) => <li><a href={link.href}>{link.name}</a></li>)
                    }
                </ul>
            </div>

            <hr>
            
            <p>
                On this website, you find <a href="/blog">my blog</a>, where from time to time I'll post articles about interesting things that I learned, or cool things that I worked on.
            </p>
            <p>
                You'll also find <a href="/portfolio">my portfolio</a> (once I'm done making it).
            </p>

        </Prose>
    </Article>
</BaseLayout>
