---
import { Image } from 'astro:assets';
import me from "../assets/me.png";
import Prose from "../components/Prose.astro";
import GeneralPageLayout from "../layouts/GeneralPageLayout.astro";

const links = [
    {
        name: "GitHub",
        href: "https://github.com/seasonedfish"
    },
    {
        name: "LinkedIn",
        href: "https://www.linkedin.com/in/fisher-sun/"
    },
    {
        name: "Email",
        href: "mailto:f.sun@wustl.edu"
    }
]
---
<GeneralPageLayout pageTitle="Home" headingText="Hello, I'm Fisher.">
    <Prose>
        <section class="inline-block">
            <Image src={me} alt={"The author, wearing a dark blue jinbei, holding yellow wildflowers"} width={150} densities={[1, 1.5]} class="not-prose float-start me-4 w-1/4"></Image>
            <p class="mt-0">
                I'm a CS student that loves learning about all things software and software engineering.
            </p>
            <ul class="flex flex-wrap gap-4 list-none p-0 mb-0">
                {
                    links.map((link) => <li class="p-0"><a href={link.href}>{link.name}</a></li>)
                }
            </ul>
        </section>

        <p>
            Feel free to shoot me a message if you see something here that interests you! I'd love to chat.
        </p>

        <h2>What's new</h2>
        <ul>
            <li>2/5/2025: I've written a <a href="/blog/astro-v5-cannot-access-image-before-initialization">blog post</a> about fixing an error while migrating to Astro v5, and I've added little link icons to my portfolio.</li>
            <li>12/15/2024: I've written two new blog posts and swapped out the syntax highlighting system: instead of Prism.js, this site now uses <a href="https://expressive-code.com/">Expressive Code</a>! With it comes a new, mellower syntax theme, proper line callouts, and a button to quickly copy code snippets.</li>
        </ul>

    </Prose>
</GeneralPageLayout>