---
import Navigation from '../components/Navigation.astro';
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from 'astro:assets';
import me from "../assets/me.png";

---

<BaseLayout pageTitle="Home">
    <h1>Welcome to my website!</h1>

    <div class="flex gap-4">
        <Image src={me} alt={"A picture of me"} width={200}></Image>
        <div class="space-y-4">
            <p>
                Hello! I'm Fisher, and I'm a CS student.
            </p>

            <p>
                I'm interested in backend development, package management, and functional programming.
            </p>
        </dov>
    </div>
</BaseLayout>
