---
import { Image } from "astro:assets";
import Prose from "../components/Prose.astro";
import ArticleLayout from "../layouts/ArticleLayout.astro";
import me from "../assets/me.png"
import PortfolioItem from "../components/PortfolioItem.astro";

const projects = [
    {
        name: "Beatbuff",
        technologies: "TypeScript, Next.js, React, Prisma, MySQL, Knock, Chakra UI, Tailwind CSS, Oracle Cloud Infrastructure",
        description: "Alongside Noah Cunningham Baker and Adam Kirsch, I built Beatbuff, a website for music album reviews. Users of the site can rate any album on Spotify, plus follow their friends to see what albums they recommend. There's also a notification system that allows users to see when they get a new follower and when someone comments on their reviews."
    },
    {
        name: "CMake Independent Study",
        technologies: "C++, CMake, Google Test, GitHub Pages",
        description: "When I took CSE 332S at WashU (Object-Oriented Software Development Laboratory), I was frustrated that because I didn't own a Windows computer, I had to use the sluggish remote desktop to work on the course's C++ assignments. The next semester, I did an independent study to migrate the course studios and labs to CMake, allowing students to develop on any platform."
    },
    {
        name: "HDN (home.nix utility)",
        technologies: "Rust, Cargo, Nix, Home Manager",
        description: "I was using Home Manager to install my packages, but I found its workflow of manually editing the home.nix file (and manually reverting it if something went wrong) tedious. So, I used Rust to create a utility that handles adding packages, removing packages, and rolling back the home.nix file when Home Manager fails."
    }
]
---
<ArticleLayout pageTitle="Portfolio" headingText="My portfolio">
    <p>
        (Under construction!)
    </p>
    
    <div>
    {projects.map((project) => (
        <PortfolioItem
            name={project.name}
            technologies={project.technologies}
            description={project.description}
            class="mt-5"
        />
    ))}
</ArticleLayout>
