---
import GeneralPageLayout from "../layouts/GeneralPageLayout.astro";
import PortfolioItem from "../components/PortfolioItem.astro";
import { getCollection } from "astro:content";
import Prose from "../components/Prose.astro";

const projects = (await getCollection("projects"))
    .toSorted((a, b) => a.id.localeCompare(b.id))
---
<GeneralPageLayout pageTitle="Portfolio" headingText="My portfolio">
    <Prose>
        <p>
            Here are some personal/school projects I'm proud of!
            If you want to see my work experience, check out <a href="https://seasonedfish.github.io/resume/yu-fisher-sun-resume.pdf">my resume</a>.
        </p>
        <div id="portfolio-container">
            {projects.map((project, i) => (
              <hr />
              <PortfolioItem
                  project={project}
                  alternateImage={i % 2 == 1}
                  class={`mt-10`}
              />
            ))}
        </div>
    </Prose>

</GeneralPageLayout>
