---
import Article from "../components/Article.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle="Portfolio">
    <Article title="My portfolio">
        <p>
            Currently under construction...
        </p>
    </Article>
</BaseLayout>