---
import ArticleLayout from "../layouts/ArticleLayout.astro";
---
<ArticleLayout pageTitle="Portfolio" headingText="My portfolio">
    <p>
        Currently under construction...
    </p>
</ArticleLayout>
