---
import Article from "../components/Article.astro";
import Heading from "../components/Heading.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle="Portfolio">
    <Article>
        <Heading slot="heading">My portfolio</Heading>
        <p>
            Currently under construction...
        </p>
    </Article>
</BaseLayout>