---
import ArticleLayout from "../layouts/ArticleLayout.astro";
import PortfolioItem from "../components/PortfolioItem.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects")
---
<ArticleLayout pageTitle="Portfolio" headingText="My portfolio">
    <p>
        (Under construction!)
    </p>
    
    <div class="mt-5 space-y-10">
    {projects.map((project) => (
        <PortfolioItem
            project={project}
        />
    ))}
    </div>
</ArticleLayout>
