---
import { Image } from "astro:assets";
import Prose from "../components/Prose.astro";
import ArticleLayout from "../layouts/ArticleLayout.astro";
import me from "../assets/me.png"
import PortfolioItem from "../components/PortfolioItem.astro";

const projects = [
    {
        name: "Beatbuff",
        description: "test"
    }
]
---
<ArticleLayout pageTitle="Portfolio" headingText="My portfolio">
    <p>
        (Under construction!)
    </p>
    
    <div>
        <h2 class="text-xl font-bold">
            Beatbuff
        </h2>
        <p>TypeScript, Next.js, React, Prisma, MySQL, Knock, Chakra UI, Tailwind CSS, Oracle Cloud Infrastructure</p>
        <Image src={me} alt={"The author"} width={150} densities={[1, 1.5]} class="float-right"></Image>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis, libero id pulvinar convallis, dolor diam posuere metus, et mattis urna augue et odio. Maecenas consectetur blandit malesuada. Nulla tristique risus et libero vehicula luctus. Pellentesque ac ante nec purus convallis eleifend id non tortor. Suspendisse in risus a dolor lobortis laoreet sed hendrerit est. Nam condimentum semper arcu. Donec vitae nunc vulputate, ullamcorper libero a, dignissim neque. Praesent vulputate scelerisque metus. Quisque ut maximus dolor. Nulla molestie turpis non sapien viverra eleifend. Suspendisse rhoncus mauris a nunc tincidunt vulputate. Nunc euismod finibus diam et auctor.
        </p>
    </div>

    <PortfolioItem
        name="CMake Independent Study"
        technologies="C++, CMake, Google Test, GitHub Pages"
        description="lorem ipsum"
        class="mt-5"
    />
</ArticleLayout>
