---
interface Props {
    title: string;
}

const { title } = Astro.props;
---
<article>
    <h1 class="text-4xl mt-4 font-bold">
        {title}
    </h1>

    <div id="article-content" class="mt-4">
        <slot />
    </div>
</article>