---
/**
 * An article with a heading (use slot="heading") and content.
 */
---
<article class="mt-5">
    <slot name="heading" />

    <div id="article-content" class="mt-5">
        <slot />
    </div>
</article>