---
const { class: className, ...rest } = Astro.props;
---
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
</style>

<header class={` text-gray-600 bg-gray-100 border-gray-200 border-b-2 ${className}`} {...rest}>
    <div class="flex justify-between m-auto max-w-[60ch] px-5 py-3">
        <a href="/" class="">Fisher Sun</a>
        <nav class="underline">
            <ul>
                <li>
                    <a href="/blog">Blog</a>
                </li>
    
                <li>
                    <a href="/portfolio">Portfolio</a>
                </li>
            </ul>
        </nav>
    </div>

</header>
