---
const { class: className, ...rest } = Astro.props;
---
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
</style>

<header class={`text-gray-900 bg-[#E5EBE7] ${className}`} {...rest}>
    <div class="flex justify-between m-auto max-w-[60ch] px-5 py-3">
        <a href="/" class="text-lg">Fisher Sun 🎣</a>
        <nav class="underline text-lg">
            <ul>
                <li>
                    <a href="/blog">Blog</a>
                </li>
    
                <li>
                    <a href="/portfolio">Portfolio</a>
                </li>
            </ul>
        </nav>
    </div>

</header>
