<style>
    header {
        display: flex;
        justify-content: space-between;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    li {

    }
</style>

<header class="uppercase text-gray-500 bg-gray-100 p-2">
    <a href="/">Fisher Sun</a>
    <nav>
        <ul>
            <li>
                <a href="/blog">Blog</a>
            </li>

            <li>
                <a href="/portfolio">Portfolio</a>
            </li>
        </ul>
    </nav>
</header>
