---
import Prose from "./Prose.astro"
import { render, type CollectionEntry } from "astro:content";
import Globe from "../assets/globe.svg";
import GitHub from "../assets/github.svg";

interface Props {
    project: CollectionEntry<"projects">
    class?: string
}

const { project, class: className, ...rest } = Astro.props;

const { Content }  = await render(project);
---
<style>
    .portfolio-item :global(img) {
        @media screen(sm) {
            float: right;
            width: 50%;
            margin: 0 0 1rem 1rem;
        }
    }
    h2 svg {
        display: inline-block;
    }
</style>

<article class=`portfolio-item ${className}` {...rest}>
    <Prose>
        <header class="flex flew-row gap-2 flex-wrap">
            <h2 class="m-0 inline">
                {project.data.name}
            </h2>
            <div class="mt-1 self-center flex flex-row gap-1 not-prose">
                {project.data.repo
                    ? <a href={project.data.repo}>
                        {/* @ts-ignore Experimental SVG */}
                        <GitHub title="GitHub" />
                    </a> 
                    : ""
                }
                {project.data.website
                    ? <a href={project.data.website}>
                        {/* @ts-ignore Experimental SVG */}
                        <Globe title="Website" />
                    </a> 
                    : ""
                }
            </div>
        </header>
        <Content />
    </Prose>
</article>