---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
    project: CollectionEntry<"projects">
    class?: string
}

const { project, class: className, ...rest } = Astro.props;

const { Content }  = await project.render()
---
<div class={className} {...rest}>
    <h2 class="text-xl font-bold">
        {project.data.name}
    </h2>
    <p class="text-gray-600 text-sm">{project.data.technologies.join(", ")}</p>
    {project.data.image && <Image src={project.data.image} alt={project.data.name} width={150} densities={[1, 1.5]} class="float-right"></Image>}
    
    <Content></Content>
</div>