---
import Prose from "./Prose.astro"
import type { CollectionEntry } from "astro:content";

interface Props {
    project: CollectionEntry<"projects">
    class?: string
}

const { project, class: className, ...rest } = Astro.props;

const { Content }  = await project.render()
---
<style>
    .portfolio-item :global(img) {
        @media screen(sm) {
            float: right;
            width: 50%;
            margin: 0 0 1rem 1rem;
        }
    }
    h2 svg {
        display: inline-block;
    }
</style>

<article class=`portfolio-item ${className}` {...rest}>
    <Prose>
        <header class="flex flew-row gap-2">
            <h2 class="m-0 inline">
                {project.data.name}
            </h2>
            <div class="mt-1 self-center">
                <a class="text-neutral-500">GitHub</a>
            </div>
        </header>
        <Content />
    </Prose>
</article>