---
import Prose from "./Prose.astro"
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
    project: CollectionEntry<"projects">
    class?: string
}

const { project, class: className, ...rest } = Astro.props;

const { Content }  = await project.render()
---
<style is:global>
    .portfolio-item img {
        float: right;
        width: 50%;
        margin: 0 0 1rem 1rem;
    }
</style>

<div class=`portfolio-item ${className}` {...rest}>
    <Prose>
        <h2>
            {project.data.name}
        </h2>
        <Content />
    </Prose>
</div>