---
import { getCollection } from "astro:content";
import ShortDate from "./ShortDate.astro";
import { zonedDateTimeFromDate } from "../lib/utils";

interface Props {
    posts: Awaited<ReturnType<typeof getCollection<"posts">>>
    class?: string
}

const { posts, class: className, ...rest } = Astro.props;

---

<table class=`w-full border-separate border-spacing-y-2 ${className}` {...rest}>
	<thead class="collapse">
		<th>Post</th>
		<th>Date published</th>
	</thead>

    {posts.map((post) =>
        <tr>
            <td class="align-top">
                <a href={`/blog/${post.id}`} class="underline">{post.data.title}</a>
            </td>

            <td class="align-top text-end font-mono">
            	<ShortDate date={zonedDateTimeFromDate(post.data.pubDate)} />
            </td>
        </tr>
    )}
</table>
