---
/**
 * A wrapper to render content as Tailwind prose.
 * https://docs.astro.build/en/recipes/tailwind-rendered-markdown/
 */
 const {class: className, ...rest} = Astro.props;
---
<style is:global>
    .prose .expressive-code {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
</style>

<div class={`prose prose-neutral prose-headings:font-heading prose-headings:font-[600] prose-blockquote:text-neutral-500 ${className}`} {...rest}>
    <slot />
</div>
