---
/**
 * A wrapper to render content as Tailwind prose.
 * https://docs.astro.build/en/recipes/tailwind-rendered-markdown/
 */
 const {class: className, ...rest} = Astro.props;
---
{/* Styles moved to global.css "@utility prose" declaration */}
<div class={`prose prose-neutral ${className}`} {...rest}>
    <slot />
</div>
