---
/**
 * A wrapper to render content as Tailwind prose.
 * https://docs.astro.build/en/recipes/tailwind-rendered-markdown/
 */
 const {class: className, ...rest} = Astro.props;
---

<div class={`prose prose-headings:font-heading prose-headings:font-bold ${className}`} {...rest}>
    <slot />
</div>
