---
import Container from "./Container.astro";

const { class: className, ...rest } = Astro.props;
---

<header class={`text-neutral-700 ${className}`} {...rest}>
    <Container>
        <div class="">
            <div>
                <a href="/" class="text-xl font-bold">Fisher Sun 🎣</a>
            </div>
            <nav class="">
                <ul class="flex flex-row list-none gap-4 underline">
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
        
                    <li>
                        <a href="/portfolio">Portfolio</a>
                    </li>
                    
                    <li>
                    	<a href="https://ln.ht/~seasonedfish">Links</a>
                    </li>
                </ul>
            </nav>
        </div>
    </Container>
</header>
