---
import Container from "./Container.astro";

const { class: className, ...rest } = Astro.props;
---

<header class={`text-neutral-600 ${className}`} {...rest}>
    <Container>
        <div class="">
            <div>
                <a href="/" class="text-2xl font-bold font-heading">Fisher Sun 🎣</a>
            </div>
            <nav class="">
                <ul class="flex flex-row list-none gap-4 underline">
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
        
                    <li>
                        <a href="/portfolio">Portfolio</a>
                    </li>
                </ul>
            </nav>
        </div>
    </Container>
</header>
