---
import Container from "./Container.astro";

const { class: className, ...rest } = Astro.props;
---
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
</style>

<header class={`text-neutral-900 bg-[#b1c7d2] border-t-4 border-[#628da5] ${className}`} {...rest}>
    <Container>
        <div class="flex justify-between py-3">
            <a href="/" class="text-lg">Fisher Sun 🎣</a>
            <nav class="underline text-lg">
                <ul>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
        
                    <li>
                        <a href="/portfolio">Portfolio</a>
                    </li>
                </ul>
            </nav>
        </div>
    </Container>
</header>
