---
/**
 * A page consisting of an Article component.
 * Its heading is just a Heading component.
 */
import Article from "../components/Article.astro";
import H1 from "../components/H1.astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
    pageTitle: string,
    headingText: string
}

const { pageTitle, headingText } = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
    <Article class="">
        <H1 slot="heading">{headingText}</H1>
        <slot />
    </Article>
</BaseLayout>
