---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import "../styles/prism.css";

interface Props {
  pageTitle: string
}
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="">
    <Header class=""/>
    <main class="px-5 pb-5 max-w-[60ch] m-auto mt-5">
      <slot />
    </main>
    <Footer />
  </body>
</html>