---
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import '../styles/global.css';

interface Props {
  pageTitle: string
}
const { pageTitle } = Astro.props;

const isProd = import.meta.env.PROD;
---
<html lang="en">
  <head>
    <link rel="preload" href="/fonts/bitter-v40-subset-600.woff2" as="font" type="font/woff2" crossorigin>
    <style>
      // Load the font as early as we can
      // https://stackoverflow.com/a/65806908
      @font-face {
        font-family: "Bitter";
        font-style: normal;
        font-weight: 600;
        src: url("/fonts/bitter-v40-subset-600.woff2") format("woff2");
      }
      @theme {
        --font-sans: "Inter", "Adwaita Sans", "BlinkMacSystemFont", "Helvetica Neue",
        "Helvetica", "Arial", "Roboto", "sans-serif";
        --font-heading: "Bitter", "serif";
      }
    </style>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | Fisher Sun</title>
    {/* https://css-tricks.com/favicons-how-to-make-sure-browsers-only-download-the-svg-version/ */}
    <link rel="icon" href="/favicon.ico" sizes="any">
    {/* https://css-tricks.com/emoji-as-a-favicon/ */}
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎣</text></svg>">
    {isProd && <script defer src="https://tally.fishersun.com/script.js" data-website-id="fdd743ef-3f06-481b-996c-b766529b804b" is:inline></script>}
  </head>

  <body class="">
  	<a href="#main-content" class="sr-only focus:not-sr-only focus:absolute top-0 left-0 underline">Skip to main content</a>
    <SiteHeader class="print:hidden mt-10"/>
    <main class="" id="main-content">
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>
