---
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import '../styles/global.css';

interface Props {
  pageTitle: string
}
const { pageTitle } = Astro.props;

const isProd = import.meta.env.PROD;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | Fisher Sun</title>
    {/* https://css-tricks.com/favicons-how-to-make-sure-browsers-only-download-the-svg-version/ */}
    <link rel="icon" href="/favicon.ico" sizes="any">
    {/* https://css-tricks.com/emoji-as-a-favicon/ */}
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎣</text></svg>">
    {isProd && <script defer src="https://tally.fishersun.com/script.js" data-website-id="54a1b063-832c-4fa6-ae1d-ca033a202e6e" is:inline></script>}
  </head>

  <body class="">
    <SiteHeader class="print:hidden mt-10"/>
    <main class="">
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>
