---
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import '../styles/global.css';
import "../styles/prism.css";

interface Props {
  pageTitle: string
}
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | Fisher Sun</title>
    {/* https://css-tricks.com/emoji-as-a-favicon/ */}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎣</text></svg>">
  </head>
  <body class="m-auto max-w-[70ch] px-5">
    <SiteHeader class=""/>
    <main class="my-8">
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>