---
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import '../styles/global.css';
import { getImage } from 'astro:assets';
import faviconSrc from '../assets/favicon.svg';
import appleTouchIconSrc from '../assets/apple-touch-icon.png';

interface Props {
  pageTitle: string
}
const { pageTitle } = Astro.props;

const isProd = import.meta.env.PROD;

// Use getImage to benefit from cache busting
// https://kremalicious.com/favicon-generation-with-astro/
const faviconSvg = await getImage({ src: faviconSrc, format: "svg" });
const appleTouchIconPng = await getImage({ src: appleTouchIconSrc, format: "png" });
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{pageTitle} | Fisher Sun</title>

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 48x48" />

    <link rel="icon" href={faviconSvg.src} type="image/svg+xml">

    <link rel="apple-touch-icon" sizes="180x180" href={appleTouchIconPng.src} />
    <meta name="apple-mobile-web-app-title" content="Fisher Sun" />

    {isProd && <script defer src="https://tally.fishersun.com/script.js" data-website-id="54a1b063-832c-4fa6-ae1d-ca033a202e6e" is:inline></script>}
  </head>

  <body class="">
    <SiteHeader class="print:hidden mt-10"/>
    <main class="">
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>
