---
/**
 * A general-purpose page layout.
 * Its heading is just an H1 component.
 */
import Article from "../components/Article.astro";
import Container from "../components/Container.astro";
import H1 from "../components/H1.astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
    pageTitle: string,
    headingText: string
}

const { pageTitle, headingText } = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
    <Container class="my-8">
        <Article class="">
            <H1 slot="heading">{headingText}</H1>
            <slot />
        </Article>
    </Container>
</BaseLayout>
