---
import Article from "../components/Article.astro";
import Prose from "../components/Prose.astro";
import BaseLayout from "./BaseLayout.astro";
interface Props {
    frontmatter: {
        title: string;
        pubDate: Date;
        author: string;
    };
}

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <Article title={frontmatter.title}>
        <div id="article-metadata">
            <time datetime={frontmatter.pubDate.toISOString()} class="text-gray-500">
                {frontmatter.pubDate.toLocaleDateString("en-us", {month: "long", day: "numeric", year: "numeric"})}
            </time>
        </div>
        
        <Prose>
            <div id="article-content" class="my-4">
                <slot />
            </div>
        </Prose>
    </Article>
</BaseLayout>
