---
/**
 * A layout for rendering blog posts.
 * Consists of an Article component whose heading includes a Heading component and post metadata.
 */
import Article from "../components/Article.astro";
import Heading from "../components/Heading.astro";
import Prose from "../components/Prose.astro";
import BaseLayout from "./BaseLayout.astro";
interface Props {
    frontmatter: {
        title: string;
        pubDate: Date;
        author: string;
        tags: string[];
    };
}

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <Article class="">
        <div slot="heading">
            <Heading>{frontmatter.title}</Heading>
            <div id="post-metadata" class="text-gray-500 text-sm flex gap-2 mt-2">
                <time datetime={frontmatter.pubDate.toISOString()}>
                    {frontmatter.pubDate.toLocaleDateString("en-us", {month: "long", day: "numeric", year: "numeric"})}
                </time>
    
                <p>
                    {
                        frontmatter.tags.join(", ")
                    }
                </p>
            </div>
        </div>
        
        <Prose>
            <div id="post-content" class="my-4">
                <slot />
            </div>
        </Prose>

        <footer class="mt-5 flex gap-4">
            <a href="/blog" class="before:content-['←'] rtl:before:content-['→'] before:pe-0.5 border-b-2 text-gray-400">
                <span>back to all posts</span>
            </a>

            <a href=`mailto:f.sun@wustl.edu?subject=Commenting on \"${frontmatter.title}\"` class="border-b-2 text-gray-400">
                <span>comment via email</span>
            </a>
        </footer>
    </Article>
</BaseLayout>
