---
import Article from "../components/Article.astro";
import Heading from "../components/Heading.astro";
import Prose from "../components/Prose.astro";
import BaseLayout from "./BaseLayout.astro";
interface Props {
    frontmatter: {
        title: string;
        pubDate: Date;
        author: string;
        tags: string[];
    };
}

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <Article>
        <div slot="heading">
            <Heading>{frontmatter.title}</Heading>
            <div id="post-metadata" class="text-gray-500 text-sm flex gap-2 mt-2">
                <time datetime={frontmatter.pubDate.toISOString()}>
                    {frontmatter.pubDate.toLocaleDateString("en-us", {month: "long", day: "numeric", year: "numeric"})}
                </time>
    
                <p>
                    {
                        frontmatter.tags.join(", ")
                    }
                </p>
            </div>
        </div>
        
        <Prose>
            <div id="post-content" class="my-4">
                <slot />
            </div>
        </Prose>
    </Article>
</BaseLayout>
