---
import BaseLayout from "./BaseLayout.astro";
interface Props {
    frontmatter: {
        title: string;
        pubDate: Date;
        author: string;
    };
}

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <article>
        <h1>{frontmatter.title}</h1>

        <div id="article-metadata">
            <span>{frontmatter.pubDate.toLocaleDateString("en-us", {month: "long", day: "numeric", year: "numeric"})}</span>
        </div>
    
        <div id="article-content" class="my-4">
            <slot />
        </div>
    </article>
</BaseLayout>
